//COLORS Base
$color-base: #51004e;
$color-hover: #ff5e00;
$black: #2d2d2d;
$pea-green: #6cbb16;
$sapphire: #2b43b4;
$blue: #0060d1;
$aquamarine: #01e4b0;
$fire-engine-red: #e50106;
$green-blue: #00cb9c;
$white: #ffffff;

//LAYOUT
$body: #ffffff;
$border: #e8e8e8;
